body{
	background-color: #00aae8;
}

.upper_bg{
	color: white;

	background-color: #38343e;
}

.slogan span{
	background-color: #00aae8 !important;
}

.subscribe #button{
	border-left: 16px solid #00aae8 !important;
}
	
footer{
	color: black;

	background-color: #00aae8;
}